
  
    <!-- <ion-title>influencer</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"><i class="fas fa-circle"></i></ion-menu-button>
    </ion-buttons>
  


<ion-content>
  <div class="container">
    <div class="row screen">
      <div class="col1 col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <div class="row head">
          <div class="left-inner-div">
            <div class="row rowa">
              <div class="col1a col-lg-7 col-md-7 col-sm-7 col-xs-12">
                  <div class="row row-1a1">
                    <div class="col1a1 col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                        <div class="ellipse"></div> 
                    </div>
                    <div class="col1a2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h1>UTILISATEUR</h1>
                        <p id="activate">Activité</p>
                        <p id="price">10.000</p>
                    </div>  
                  </div>
              </div>
              <div class="col1b col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="row">
                  <div class="btn1">
                      <ion-icon name="md-heart"></ion-icon>
                      <ion-button>
                          <i class= "fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                      </ion-button>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row rowb">
                <div class="rating">
                    <div class="row row-b1">
                      <ion-icon name="md-star"></ion-icon><p>9.7</p>
                    </div>
                </div>
                <div class="loc">    
                  <div class="row row-b2">
                      <ion-icon name="md-pin"></ion-icon><p>Ville, Pays</p>
                  </div>
                  <p id="desc">Description</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row foot">
          <div class="col-a col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="details1">
                  <h1>Évènements À Venir</h1>
                  <div class="flights">
                      <div class="row row-fa">
                          <ion-icon name="ios-airplane"></ion-icon><p id="text1">Los Angeles, USA</p>
                      </div>
                      <p>From <b>03/07/19</b> Until <b>12/07/19</b></p>
                  </div>
                  <br>
                  <div class="flights" >
                      <div class="row row-fa" >
                          <ion-icon name="ios-airplane"></ion-icon><p id="text1">Los Angeles, USA</p>
                      </div>
                      <p>From <b>03/07/19</b> Until <b>12/07/19</b></p>
                  </div>
                  <br>
                  <div class="flights">
                      <div class="row row-fa">
                          <ion-icon name="ios-airplane"></ion-icon><p id="text1">Los Angeles, USA</p>
                      </div>
                      <p>From <b>03/07/19</b> Until <b>12/07/19</b></p>
                  </div>
                  <div class="add">
                      <ion-icon name="ios-add-circle"></ion-icon>
                  </div>
                </div>
          </div>  
          <div class="col-b col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row row-realis">
              <div class="row">
                <h1>Partenariats Réalisés</h1> 
              </div>
              <div class="row row-ra">
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
                <div class="add2">
                    <ion-icon name="ios-add-circle"></ion-icon>
                </div>
              </div>
            </div>
            <div class="row row-sim">
              <div class="row">
                <h1>Profils Similaires</h1>
              </div>
              <div class="row row-rb">
                <div class="circle-img"></div>
                <div class="circle-img"></div>
                <div class="circle-img"></div>
                <div class="circle-img"></div>
                <div class="add2">
                  <ion-icon name="ios-add-circle"></ion-icon>
              </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- <div class="border">
          &nbsp;
        </div> -->
      </div>

      <div class="col2 col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div class="row row-head">
            <h2>Flux Instagram</h2>   
        </div>    
        <div class="row row-body">
          <div class="row row-a">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
          </div>
          <div class="row row-b">
              <div class="img"></div>
              <div class="img"></div>
              <div class="img"></div>
          </div>
          <div class="row row-c">
              <div class="img"></div>
              <div class="img"></div>
              <div class="img"></div>
          </div> 
        </div>
        <div class="row row-foot">
          <div class="insta-tag">
            <p>@Identifiant Instagram</p>
          </div>  
        </div>
      </div>
    </div>
  </div> 
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <ion-grid>
      <ion-row>
        <ion-col class="left-col" size="6.5" size-xl="6.5" size-lg="6.5" size-md="6.5" size-sm="12" size-xs="12" no-padding>
              <div class="left-inner-div">
                <ion-row>

                 <ion-col size="4" >
                    <div class="left-inner-circle">
                    </div>  
                  </ion-col>

                  <ion-col  size="4" class="col1" no-padding >
                    <h1>UTILISATEUR</h1>
                    <p id="activate">Activité</p>
                    <p id="price">10.000</p>
                  </ion-col>
                
                
                <ion-col size="4" class="col2" >
                    <ion-icon name="md-heart"></ion-icon>
                    <ion-button>
                        <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                    </ion-button>
                </ion-col> 

                </ion-row>
               
                <ion-row class="row2">
                  
                    <div class="rating">
                        <ion-row><ion-icon name="md-star"></ion-icon><p>9.7</p></ion-row>
                    </div>
                    <span class="loc">    
                      <ion-row><ion-icon name="md-pin"></ion-icon><p>Ville, Pays</p></ion-row>
                      <p id="desc">Description</p>
                    </span>
                    
                </ion-row>
              </div>

                <ion-row class="details">
                  
                  <ion-col col-xs="12" col-sm="12" col-md="6" col-lg="6" col-xl="6">
                      <div class="details1">
                          <h1>Évènements À Venir</h1>
                          <div class="flights">
                              <ion-row><ion-icon name="ios-airplane"></ion-icon><p id="text1">Los Angeles, USA</p></ion-row>
                              <p>From <b>03/07/19</b> Until <b>12/07/19</b></p>
                          </div>
                          <br>
                          <div class="flights">
                              <ion-row><ion-icon name="ios-airplane"></ion-icon><p id="text1">Los Angeles, USA</p></ion-row>
                              <p>From <b>03/07/19</b> Until <b>12/07/19</b></p>
                          </div>
                          <br>
                          <div class="flights">
                              <ion-row><ion-icon name="ios-airplane"></ion-icon><p id="text1">Los Angeles, USA</p></ion-row>
                              <p>From <b>03/07/19</b> Until <b>12/07/19</b></p>
                          </div>
                          <div class="add">
                              <ion-icon name="ios-add-circle"></ion-icon>
                          </div>
                        </div>
                  </ion-col>
                  
                  <ion-col  col-xs="12" col-sm="12" col-md="6" col-lg="6" col-xl="6">
                      <div class="ddetails">
                          <div class="details2">
                              <h1>Partenariats Réalisés</h1>
                              <ion-row>
                                <div class="img"></div>
                                <div class="img"></div>
                                <div class="img"></div>
                                <div class="add" style="left: 95% !important; top: -45px;">
                                    <ion-icon name="ios-add-circle"></ion-icon>
                                </div>
                              </ion-row>
                            </div>
                            <div class="details3"> 
                              <h1>Profils Similaires</h1>
                              <ion-row>
                                <div class="circle-img">
                  
                                </div>
                                <div class="circle-img">
                  
                                  </div>
                                  <div class="circle-img">
                  
                                    </div>
                                    <div class="circle-img">
                  
                                      </div>
                                  <div class="add" style="left: 90% !important; top: -40px;">
                                    <ion-icon name="ios-add-circle"></ion-icon>
                                  </div>
                              </ion-row>
                            </div>
                      </div>
                    </ion-col>

                </ion-row>
          </ion-col>

          <ion-col class="right-col" size="5.5" size-xl="5.5" size-lg="5.5" size-md="5.5" size-sm="12" size-xs="12" no-padding>
              <div class="collection">  
                <h2>Flux Instagram</h2>
                <ion-row>
                      <div class="img"></div>
                      <div class="img"></div>
                      <div class="img"></div>
                  </ion-row>
                  <br>
                  <ion-row>
                      <div class="img"></div>
                      <div class="img"></div>
                      <div class="img"></div>
                  </ion-row>
                  <br>
                  <ion-row>
                      <div class="img"></div>
                      <div class="img"></div>
                      <div class="img"></div>
                  </ion-row>
                </div>
                <div class="insta-tag">
                  <p>@Identifiant Instagram</p>
                </div>          
              </ion-col>

      </ion-row>
    </ion-grid> -->
</ion-content>
