
<ion-content>
  <div class="container">
    <div class="row screen">
      <div class="col1 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="row inner-screen">
            <div class="col-inner-1 col-lg-6 col-md-6 ">
                <h1>Recherche (Compagnie)</h1>
              
                <div class="info-div">
                    
                    <p>Ou?</p>
                    <ion-input class="input" type="text"></ion-input>
                
                    <p>Genre</p>
                    <ion-input class="input" type="text"></ion-input>
                
                    <p>Industrie</p>
                    <ion-item class="item">
                        <ion-select class="gender">
                          <ion-select-option value="f">Female</ion-select-option>
                          <ion-select-option value="m">Male</ion-select-option>
                        </ion-select>
                      </ion-item>
                
                      
                    <p>Followers</p>
                    <ion-item class="item">
                        <ion-select class="gender">
                          <ion-select-option value="f">Female</ion-select-option>
                          <ion-select-option value="m">Male</ion-select-option>
                        </ion-select>
                      </ion-item>
                
                      <ion-button class="btn">Rechercher</ion-button>
                  </div>
            </div>
            <div class="col-inner-2 col-lg-6 col-md-8 col-sm-12 col-xs-12 ">
              <br><br><br><br>
                <div class="Active-div">
                   <div class="row">
                     <img class="rectangle" src="assets/imgs/rectangle.png">
                     <img class="rectangle" src="assets/imgs/rectangle.png">
                     <img class="rectangle" src="assets/imgs/rectangle.png">
                   </div>
                   <div class="row">
                     <div class="col-lg-5">
                      <h2>UTILISATEUR</h2>
                      <p>Activité</p>
                    </div>
                    <div class="col-lg-2">
                      <img class="heart" src="assets/imgs/heart.png">
                    </div>
                    <div class="col-lg-3" style="margin-left:-50px">
                        
                            <ion-button>
                                <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                            </ion-button>
                       
                    </div>
                    <div class="k-div col-lg-2"  style="margin-left:30px">
                        <p>10K</p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="Active-div">
                  <div class="row">
                    <img class="rectangle" src="assets/imgs/rectangle.png">
                    <img class="rectangle" src="assets/imgs/rectangle.png">
                    <img class="rectangle" src="assets/imgs/rectangle.png">
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                     <h2>UTILISATEUR</h2>
                     <p>Activité</p>
                   </div>
                   <div class="col-lg-2">
                     <img class="heart" src="assets/imgs/heart.png">
                   </div>
                   <div class="col-lg-3" style="margin-left:-50px">
                       
                           <ion-button>
                               <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                           </ion-button>
                      
                   </div>
                   <div class="k-div col-lg-2"  style="margin-left:30px">
                       <p>10K</p>
                   </div>
                 </div>
               </div>
                
              </div>
        </div>
      </div>
      <div class="col2 col-lg-4 col-md-4 col-sm-8 col-xs-12">
         <h1>Activity</h1>
         <p>Évènements exclusifs À Venir</p>
    
         <div class="destination-div">
            <div class="row">
              <div class="col-lg-3">
                <img class="ellipse-black" src="assets/imgs/ellipse-black.png">
              </div>
              <div class="col-lg-7">
                 <h2>UTILISATEUR</h2>
                 <p>Activité</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <img class="plane" src="assets/imgs/plane.png">
              </div>
              <div class="col-lg-7">
                 <h2 class="h2">DESTINATION</h2>
                 <p class="p">USA</p>
              </div>
            </div>
         </div>
         <br>
         <div class="destination-div">
          <div class="row">
            <div class="col-lg-3">
              <img class="ellipse-black" src="assets/imgs/ellipse-black.png">
            </div>
            <div class="col-lg-7">
               <h2>UTILISATEUR</h2>
               <p>Activité</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <img class="plane" src="assets/imgs/plane.png">
            </div>
            <div class="col-lg-7">
               <h2 class="h2">DESTINATION</h2>
               <p class="p">USA</p>
            </div>
          </div>
        </div>
        <br>
        <div class="destination-div">
          <div class="row">
            <div class="col-lg-3">
              <img class="ellipse-black" src="assets/imgs/ellipse-black.png">
            </div>
            <div class="col-lg-7">
               <h2>UTILISATEUR</h2>
               <p>Activité</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <img class="plane" src="assets/imgs/plane.png">
            </div>
            <div class="col-lg-7">
               <h2 class="h2">DESTINATION</h2>
               <p class="p">USA</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
