
<ion-content>
<div class="container">
  <div class="row screen">
    <div class="col1 col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="row inner-screen">
        <div class="col-inner-1 col-lg-6 col-md-6 ">
          <h1>Recherche Influenceur</h1>
              
          <div class="info-div">
              
              <p>Ou?</p>
              <ion-input class="input" type="text"></ion-input>
          
              <p>Genre</p>
              <ion-input class="input" type="text"></ion-input>
          
              <p>Industrie</p>
              <ion-item class="item">
                  <ion-select class="gender">
                    <ion-select-option value="f">Female</ion-select-option>
                    <ion-select-option value="m">Male</ion-select-option>
                  </ion-select>
                </ion-item>
          
                <ion-button class="btn">Rechercher</ion-button>
            </div>
        </div>

        <div class="col-inner-2 col-lg-6 col-md-8 col-sm-12 col-xs-12 ">
          <br><br><br>
                <div class="Active-div">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="rectangle" src="assets/imgs/rectangle.png">
                    </div>
                    <div class="col-lg-8">
                      <h2>UTILISATEUR</h2>
                      <p>Activité</p>
                      <div class="row">
                        <ion-button>
                          <i class="i fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                      </ion-button>
                      <img class="heart" src="assets/imgs/heart.png">
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="Active-div">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="rectangle" src="assets/imgs/rectangle.png">
                    </div>
                    <div class="col-lg-8">
                      <h2>UTILISATEUR</h2>
                      <p>Activité</p>
                      <div class="row">
                        <ion-button>
                          <i class="i fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                      </ion-button>
                      <img class="heart" src="assets/imgs/heart.png">
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="Active-div">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="rectangle" src="assets/imgs/rectangle.png">
                    </div>
                    <div class="col-lg-8">
                      <h2>UTILISATEUR</h2>
                      <p>Activité</p>
                      <div class="row">
                        <ion-button>
                          <i class="i fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                      </ion-button>
                      <img class="heart" src="assets/imgs/heart.png">
                      </div>
                    </div>
                  </div>
                </div>
                <img class="add" src="assets/imgs/add.png">
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>
