<!-- <ion-title>influencer</ion-title> -->
<ion-buttons slot="start">
  <ion-menu-button autoHide="false"><i class="fas fa-circle"></i></ion-menu-button>
</ion-buttons>


<ion-content>
  <ion-row>
    <ion-col size="3">
        <div class="userlist">
          <div class="users">
            <ion-row>
              <div class="circle"></div>
              <h2>UTILISATEUR</h2><br>
              <p>Activité</p>
            </ion-row>
          </div>
          <!-- <div class="users">
            <ion-row>
              <div class="circle"></div>
              <h2>UTILISATEUR</h2><br>
              <p>Activité</p>
            </ion-row>
          </div>
          <div class="users">
            <ion-row>
              <div class="circle"></div>
              <h2>UTILISATEUR</h2><br>
              <p>Activité</p>
            </ion-row>
          </div> -->
        </div>
    </ion-col>
    <ion-col size="9">
        <div class="messenger">
          <div class="head">
            <ion-row>
              <ion-col size="4">
                <div class="circle"></div>
              </ion-col>
              <ion-col size="8">
                <h2>UTILISATEUR</h2>
                <p>Activité</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="body">
            <div class="sent">
              <p>Message (moi)</p>
            </div>
            <div class="recieve">
              <p>Message (interlocuteur)</p>
              <img src="/assets/imgs/Groupe 11.png">
              <!-- <i class="fas fa-check-double"></i> -->
            </div>
          </div>
          <div class="foot">
              <ion-input placeholder="Ecrivez quelque chose ..." mode="md">
                  <i class="far fa-image"></i>
                  &nbsp;&nbsp;&nbsp;
                  <i class="fas fa-paper-plane"></i>
              </ion-input>
          </div>
          <br><br>
        </div>
    </ion-col>
  </ion-row>
</ion-content>
