
<!-- <ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
             <div class="main-div">
                    <ion-row>
                     <ion-col size="4" size-xl="4" size-lg="4" size-md="4" size-sm="4" size-xs="12">
                      
                      
                        <div class="left-inner-circle">
                        </div>  
                      </ion-col>
                      <ion-col  class="col1" no-padding size="4" size-xl="4" size-lg="4" size-md="4" size-sm="4" size-xs="12">
                        <h1>UTILISATEUR</h1>
                        <p id="activate">Activité</p>
                        <p id="price">10.000</p>
                        <p id="liens">Liens</p>
                      </ion-col>
                    
                    
                    
                    <ion-col class="col2" size="4" size-xl="4" size-lg="3" size-md="4" size-sm="4" size-xs="12">
                        <ion-icon name="md-heart"></ion-icon>
                        <ion-button>
                            <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                        </ion-button>
                    </ion-col> 
                    </ion-row>
                  
             </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<ion-content>
<div class="container">

  <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="main-div">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <div class="left-inner-circle">
                </div>  
          </div>
          <div class="col1 col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <h1>{{userData?.companyName}}</h1>
              <p id="activate">{{userData?.category}}</p>
              <!-- <p id="price">10.000</p> -->
              <p id="liens">Liens</p>
          </div>
          <div class="col2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <ion-icon name="md-heart"></ion-icon>
              <ion-button>
                  <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
              </ion-button>
          </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="row pin">
              <ion-icon name="pin"></ion-icon>
              <p>Ville, Pays</p>
            </div>
            <p class="para">Description</p>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div style = "margin-left: auto; margin-right: auto; width: 45%; margin-top: 5%">
            <h1 style="font-size:1.5em">Profils Similaries</h1>
            <img style="height:10%; width:10%" src="assets/imgs/ellipse.png">
            <img style="height:10%; width:10%; margin-left:5px" src="assets/imgs/ellipse.png">
            <img style="height:10%; width:10%;margin-left:5px" src="assets/imgs/ellipse.png">
            <img style="height:10%; width:10%;margin-left:5px" src="assets/imgs/ellipse.png">
            <img style="height:9%; width:9%;margin-left:5px" src="assets/imgs/add.png">
          </div>
        </div>
      </div>
     </div>
  </div>

</div>

</ion-content>