.container{
    height: 100%;
    min-width:100%;
    padding: 0%;
}
.container .screen{
    height: 100%;
    min-width: 100%;
    padding: 0%
}
.profile{
    height: 100px;
    width: 100px;
    margin-left: 10%;
    margin-top: 20px;
   
}
.profil p{
    padding-top: 55px;
    padding-left: 10px;
    font-size: 0.9em;
}
.input{
    border: rgb(245, 237, 237) 1px solid;
    width: 70%;
    border-radius: 5px;
    height: 40px;
    margin-left: 15%;
}
.para{
    position: relative;
    top: 10px;
    font-size: 0.9em;
    margin-left: 15%;
}

.input2{
    border: rgb(245, 237, 237) 1px solid;
    width: 80%;
    border-radius: 5px;
    height: 40px; 
}
.para2{
    position: relative;
    top: 10px;
    font-size: 0.9em;
}
.item{
    width: 85% !important;
    height: 40px;
    border: rgb(245, 237, 237) 1px solid;
    margin-left: 50px;
    border-radius: 5px;
    --border-width: 0 0 1px 0 !important;
    position: relative;
    top: 20px;
}
.select-p{
    position: relative;
    top:30px;
    margin-left: 7.5%;
}
.item1{
    width: 85% !important;
    height: 40px;
    border: rgb(245, 237, 237) 1px solid;
    margin-left: 50px;
    border-radius: 5px;
    --border-width: 0 0 1px 0 !important;
    position: relative;
    top: 30px;
}
.select-p1{
    position: relative;
    top:40px;
    margin-left: 7.5%;
}
.btn{
    width: 30%;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: 30%;
    color: white;
    --background:#30A9E6;
    font-size: 0.7em;
}


@media(min-width: 320px) and (max-width: 991px){
    .item{
        width: 70% !important;
        height: 40px;
        border: rgb(245, 237, 237) 1px solid;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        --border-width: 0 0 1px 0 !important;
        position: relative;
        top: 20px;
    }
    .select-p{
        position: relative;
        top:30px;
        margin-left: 15%;
    }
    .item1{
        width: 70% !important;
        height: 40px;
        border: rgb(245, 237, 237) 1px solid;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        --border-width: 0 0 1px 0 !important;
        position: relative;
        top: 30px;
    }
    .select-p1{
        position: relative;
        top:40px;
        margin-left: 15%;
    }
    .input2{
        border: rgb(245, 237, 237) 1px solid;
        width: 70%;
        border-radius: 5px;
        height: 40px; 
        margin-left: auto;
        margin-right: auto;
    }
    .para2{
        position: relative;
        top: 10px;
        font-size: 0.9em;
        margin-left: 15%;
    }
}