<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inf-contract-offer</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <div class="head">
      <ion-row>
        <ion-col id="col1" size="5.5" >
            <ion-row>
              <div class="circle"></div>
              <h1>INFLUENCEUR</h1>
            </ion-row>
        </ion-col>
        <ion-col size="1">
          <p id="amp">&</p>
        </ion-col>
        <ion-col id="col2" size="5.5" >
              <ion-row>
                <div class="circle"></div>
                <h1>COMPAGNIE</h1>
              </ion-row>
        </ion-col>
      </ion-row>
    </div>
      <div class="body">
        <p>Contract défini</p>
      </div>

      <div class="foot">
        <ion-row>
          <ion-button shape="round" id="accept">Accepter</ion-button> 
          <ion-button shape="round" id="review">Reviser</ion-button>
          <ion-button shape="round" id="decline">Decliner</ion-button>
        </ion-row>
      </div>
    <br><br><br>
</ion-content>
