<!-- <ion-header>
  <ion-toolbar>
    <ion-title>influencer-profile</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-row id="head-row">
  <p style="margin-right: 15px; font-size: 16px;">Inbox</p>
  <p style="margin-right: 15px; font-size: 16px;">Project</p>
  <p style="margin-right: 15px; font-size: 16px;">Help</p>
</ion-row>
<ion-buttons slot="start">
    <ion-menu-button autoHide="false"><i class="fas fa-circle"></i></ion-menu-button>
  </ion-buttons>

<ion-content>
  <div class="container">
    <div class="row screen">
      <div class="row top">
        <div class="col1 col-lg-8 col-md-8 col-sm-8 col-xs-12" style="margin-top: -40px;">
          <div class="left-inner-div">
            <div class="row rowa">
              <div class="col1a col-lg-7 col-md-7 col-sm-7 col-xs-12">
                  <div class="row row-1a1">
                    <div class="col1a1 col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                        <div class="ellipse"></div> 
                    </div>
                    <div class="col1a2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h1>Username</h1>
                        <p id="activate">Activity</p>
                    </div>  
                  </div>
              </div>
              <div class="col1b col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="row">
                  <div class="btn1">
                      <ion-row no-padding>
                      <ion-icon name="md-heart"></ion-icon>
                      <ion-button>
                          <i class= "fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                      </ion-button>                      
                      <div class="tag1">
                      <p>10K</p>
                    </div>
                    </ion-row>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row rowb">
               
              <div class="rating">
                    <div class="row row-b1">
                      <ion-icon name="md-star"></ion-icon><p>10</p>
                    </div>
                </div>
                <div class="loc">    
                  <div class="row row-b2">
                      <ion-icon name="md-pin"></ion-icon><p>City, Country</p> <span id="average"><ion-row><img src="assets/imgs/dollar.png"><p>Average Price Asked</p></ion-row></span>
                  </div>
                  <p id="desc">Description</p>
                </div>
            </div>
            <div class="events">
              <h4>Upcoming Events</h4>
              <ion-row>
                  <ion-icon name="ios-airplane"></ion-icon><p id="text1">City, Country</p><p id="text2"><b style="opacity: .8;">From</b> &nbsp;&nbsp; 00/00/19</p><p id="text3"><b style="opacity: 0.8">Until</b>&nbsp;&nbsp;00/00/19</p>
              </ion-row>
            </div>
          </div>
        </div>
        <div class="col2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
  
        </div>
      </div>
      <div class="row bottom">
        <div class="row body">
          <div class="col3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h4>Instagram Feed</h4>
              <ion-row justify-content-center style="margin-bottom: 10px;" >
                <img style ="margin-right: 10px;" src="assets/imgs/rectangle.png">
                <img style ="margin-right: 10px;" src="assets/imgs/rectangle.png">
                <img src="assets/imgs/rectangle.png">
              </ion-row>
              
              <ion-row justify-content-center >
                  <img style ="margin-right: 10px;" src="assets/imgs/rectangle.png">
                  <img  style ="margin-right: 10px;"src="assets/imgs/rectangle.png">
                  <img src="assets/imgs/rectangle.png">
              </ion-row>
              <ion-button>@IG NAME</ion-button>
          </div>
          <div class="col4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h4>Previous Brand Deals</h4>
              <ion-row justify-content-center style="margin-bottom: 10px;" >
                <img style ="margin-right: 10px;" src="assets/imgs/rectangle.png">
                <img style ="margin-right: 10px;" src="assets/imgs/rectangle.png">
                <img src="assets/imgs/rectangle.png">
              </ion-row>
            </div>
        </div>  
      </div>
    </div>
  </div>
</ion-content>
