<!-- <ion-header>
  <ion-toolbar>
    <ion-title>resultats</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-row id="head-row">
    <p style="margin-right: 15px; font-size: 16px;">Inbox</p>
    <p style="margin-right: 15px; font-size: 16px;">Project</p>
    <p style="margin-right: 15px; font-size: 16px;">Help</p>
  </ion-row>
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"><i class="fas fa-circle"></i></ion-menu-button>
    </ion-buttons>
<ion-content>

  <ion-content>
    <div class="container">
      <div class="row screen">
        <div class="col1 col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="row inner-screen">
              <div class="col-inner-1 col-lg-6 col-md-6 ">
                <img class="filter-img" src="assets/imgs/filter.png">
                  <h1 class="h1">Filters</h1>
                
                  <div class="info-div">
                      
                      <p>Ou?</p>
                      <ion-input class="input" type="text"></ion-input>
                  
                      <p>Genre</p>
                      <ion-input class="input" type="text"></ion-input>
                  
                      <p>Industrie</p>
                      <ion-item class="item">
                          <ion-select class="gender">
                            <ion-select-option value="f">Female</ion-select-option>
                            <ion-select-option value="m">Male</ion-select-option>
                          </ion-select>
                        </ion-item>
                  
                        
                      <p>Followers</p>
                      <ion-item class="item">
                          <ion-select class="gender">
                            <ion-select-option value="f">Female</ion-select-option>
                            <ion-select-option value="m">Male</ion-select-option>
                          </ion-select>
                        </ion-item>
                    </div>
              </div>
              <div class="col-inner-2 col-lg-6 col-md-8 col-sm-12 col-xs-12 ">
                
                <img class="finding-img" src="assets/imgs/finding.png">
                  <h1 class="h1">Top Findings</h1>
                  <br><br>
                  <div class="Active-div">
                     <div class="row">
                       <img class="rectangle" src="assets/imgs/rectangle.png">
                       <img class="rectangle" src="assets/imgs/rectangle.png">
                       <img class="rectangle" src="assets/imgs/rectangle.png">
                     </div>
                     <div class="row">
                       <div class="col-lg-5">
                        <h2>UTILISATEUR</h2>
                        <p>Activité</p>
                      </div>
                      <div class="col-lg-2">
                        <img class="heart" src="assets/imgs/heart.png">
                      </div>
                      <div class="col-lg-3" style="margin-left:-50px">
                          
                              <ion-button>
                                  <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                              </ion-button>
                         
                      </div>
                      <div class="k-div col-lg-2"  style="margin-left:30px">
                          <p>10K</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="Active-div">
                    <div class="row">
                      <img class="rectangle" src="assets/imgs/rectangle.png">
                      <img class="rectangle" src="assets/imgs/rectangle.png">
                      <img class="rectangle" src="assets/imgs/rectangle.png">
                    </div>
                    <div class="row">
                      <div class="col-lg-5">
                       <h2>UTILISATEUR</h2>
                       <p>Activité</p>
                     </div>
                     <div class="col-lg-2">
                       <img class="heart" src="assets/imgs/heart.png">
                     </div>
                     <div class="col-lg-3" style="margin-left:-50px">
                         
                             <ion-button>
                                 <i class="fas fa-comment fa-flip-horizontal"></i><p>Contact</p>
                             </ion-button>
                        
                     </div>
                     <div class="k-div col-lg-2"  style="margin-left:30px">
                         <p>10K</p>
                     </div>
                   </div>
                 </div>
                  
                </div>
          </div>
        </div>
        <div class="col2 col-lg-4 col-md-4 col-sm-8 col-xs-12">
           <ion-button class="btn">Start a campaign</ion-button>
        </div> 
      </div>
    </div>
  </ion-content>
  
</ion-content>
