.container{
    height: 100%;
    min-width:100%;
    padding: 0%;
}
.container .screen{
    height: 100%;
    min-width: 100%;
    padding: 0%
}
.input2{
    border: rgb(245, 237, 237) 1px solid;
    width: 80%;
    border-radius: 5px;
    height: 40px; 
}

.btn{
    width: 25%;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: white;
    --background:#30A9E6;
    font-size: 0.7em;
}