<ion-app>
  <ion-menu side="end" type="overlay" menuId="sidemenu">

          <ion-content >
            <div class="menuu">
              <ion-row>
                <ion-button shape="round" size="small" (click)="menuclose()">
                </ion-button>
                <h2>UTILISATEUR</h2>
                <ion-icon name="ios-close"></ion-icon>
              </ion-row>
              <h1 (click)="search()">Recherche</h1>
              <h1 (click)="messanger()">Messages</h1>
              <h1 (click)="partnership()">Partenariats</h1>
              <h1 (click)="state()">Statistiques</h1>
          </div>
          </ion-content>
        
        </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
